@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) {
    /* Styles */

}

body, html {
    font-family: 'Coda', cursive;
    /* font-family: "Lato", sans-serif; */
}

/* Parallax style */
.parallax {
    /* The image used */
    /* background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../../images/background.jpg"); */
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Parallax style */

/* Banner style */
#banner{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../images/background.jpg');
    background-position: center;
    background-size: cover;
}
/* Banner style */

/* HR style */
hr{
    width: 5%;
    height: 4px;
    background-color:#ffc107;
}
/* HR style */

/* Floating button style */
#floating-button{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}
/* Floating button style */

/* Navstyle */
.navbar{
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: #888;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
/* Nav style */

/* Legend style */
.legend{
    position: relative;
}
.legend:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 25%;
    background-color: #444;
    width: 50%;
    height: 5px;
}
/* Legend style */

/* Font sizes style */
.font-size-10 {
    font-size: 10px;
}
.font-size-11 {
    font-size: 11px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-15 {
    font-size: 15px;
}
/* Font sizes style */